@charset "utf-8";

body {
    background-color: #273F32;
    color: #FBF1DA;
}

h1 {
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-weight: bold;
    font-size: xx-large;
    text-align: left;
    color: #FBF1DA;
}

p {
    color: #FBF1DA;
}

nav {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #F4C668;
}

a {
    color: #F4C668;
}

label {
    display: block;
    margin: 3px;
}